@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a asp-controller="Home" asp-action="Post" class="navbar-brand">Animated PNG support.</a></h3>
            </div>
            <div class="panel-body">
                These are animated PNGs (if it doesn't "animate" then your browser doesn't support it): https://people.mozilla.org/~do... https://people.mozilla.org/~do... https://people.mozilla.org/~do
                Planned Parenthood officials on Sunday seemingly blamed the “hateful speech” of conservative lawmakers and GOP presidential contenders for contributing to Friday’s deadly shooting at a Colorad
            </div>
            <div class="panel-footer">3 hours ago</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a asp-controller="Home" asp-action="Post" class="navbar-brand">Animated PNG support.</a></h3>
            </div>
            <div class="panel-body">
                These are animated PNGs (if it doesn't "animate" then your browser doesn't support it): https://people.mozilla.org/~do... https://people.mozilla.org/~do... https://people.mozilla.org/~do
                Planned Parenthood officials on Sunday seemingly blamed the “hateful speech” of conservative lawmakers and GOP presidential contenders for contributing to Friday’s deadly shooting at a Colorad
            </div>
            <div class="panel-footer">3 hours ago</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a asp-controller="Home" asp-action="Post" class="navbar-brand">Animated PNG support.</a></h3>
            </div>
            <div class="panel-body">
                These are animated PNGs (if it doesn't "animate" then your browser doesn't support it): https://people.mozilla.org/~do... https://people.mozilla.org/~do... https://people.mozilla.org/~do
                Planned Parenthood officials on Sunday seemingly blamed the “hateful speech” of conservative lawmakers and GOP presidential contenders for contributing to Friday’s deadly shooting at a Colorad
            </div>
            <div class="panel-footer">3 hours ago</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a asp-controller="Home" asp-action="Post" class="navbar-brand">Animated PNG support.</a></h3>
            </div>
            <div class="panel-body">
                These are animated PNGs (if it doesn't "animate" then your browser doesn't support it): https://people.mozilla.org/~do... https://people.mozilla.org/~do... https://people.mozilla.org/~do
                Planned Parenthood officials on Sunday seemingly blamed the “hateful speech” of conservative lawmakers and GOP presidential contenders for contributing to Friday’s deadly shooting at a Colorad
            </div>
            <div class="panel-footer">3 hours ago</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a asp-controller="Home" asp-action="Post" class="navbar-brand">Animated PNG support.</a></h3>
            </div>
            <div class="panel-body">
                These are animated PNGs (if it doesn't "animate" then your browser doesn't support it): https://people.mozilla.org/~do... https://people.mozilla.org/~do... https://people.mozilla.org/~do
                Planned Parenthood officials on Sunday seemingly blamed the “hateful speech” of conservative lawmakers and GOP presidential contenders for contributing to Friday’s deadly shooting at a Colorad
            </div>
            <div class="panel-footer">3 hours ago</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a asp-controller="Home" asp-action="Post" class="navbar-brand">Animated PNG support.</a></h3>
            </div>
            <div class="panel-body">
                These are animated PNGs (if it doesn't "animate" then your browser doesn't support it): https://people.mozilla.org/~do... https://people.mozilla.org/~do... https://people.mozilla.org/~do
                Planned Parenthood officials on Sunday seemingly blamed the “hateful speech” of conservative lawmakers and GOP presidential contenders for contributing to Friday’s deadly shooting at a Colorad
            </div>
            <div class="panel-footer">3 hours ago</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a asp-controller="Home" asp-action="Post" class="navbar-brand">Animated PNG support.</a></h3>
            </div>
            <div class="panel-body">
                These are animated PNGs (if it doesn't "animate" then your browser doesn't support it): https://people.mozilla.org/~do... https://people.mozilla.org/~do... https://people.mozilla.org/~do
                Planned Parenthood officials on Sunday seemingly blamed the “hateful speech” of conservative lawmakers and GOP presidential contenders for contributing to Friday’s deadly shooting at a Colorad
            </div>
            <div class="panel-footer">3 hours ago</div>
        </div>
    </div>
</div>
