@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="post">
            <header>
                <h1>Harry Reid: Republicans Have Created 'A Frenzy Of Hate And Anger' Over Planned Parenthood</h1>
            </header>
            <article>
                一个月前我们曾报道说微软计划在Windows Vista和Office 12中放弃Windows XP中的Tahoma字体，转而启用新的Segoe UI字体，意在提高字体的可读性，使之更加人性化(相关报道)。不过根据一家德国报纸的报道，微软的新字体并没有所宣传的那样具有革命性，实际上它与已有的Frutiger Next字体如出一辙。

                据微软称，新的Segoe UI字体利用了ClearType显示技术的优势，比目前的系统字体更加现代化。ClearType本是Windows用来优化液晶显示器文字显示效果的技术，可以让文字显示得平滑而美观。利用该技术的新字体Segoe UI看起来比现在略显僵硬的Tahoma更加人性化。Windows Vista和Office 12使用的Segoe UI字体大小分别为9pt和8pt。

                德国Sueddeutsche Zeitung日报称，位于德国巴德洪堡的一家莱诺铸排机工厂已经在西班牙提起了商标权诉讼，指控微软抄袭了他们的Frutiger Next字体。

                自微软11月底公布Segoe UI字体以来，字体设计人员一直在讨论它，现在都认定微软抄袭了Frutiger字体。typeforum.de网站创始者Ingo Preuss说：“在Segoe UI身上，我们看到了当初发生的Arial身上的事情又一次出现了。”人们普遍认为Arial源自Helvetica。后者可追溯到1957年的瑞士苏黎世机场，是二十世纪的下半叶在西方世界里最受欢迎的一种字体。

                Sueddeutsche Zeitung日报表示，Segoe UI和Frutiger Next猛一看之下几乎完全一样，而眼尖的人可以发现数字1和字母j略有不同。

                据报道，Frutiger字体最初于1970年出自Adrian Fruiger之手，并用于巴黎机场。Frutiger Next则是德国字体设计师Erik Faulhaber在1997年对Frutiger字体进行现代化重新设计的成果，最早用于德国慕尼黑的Alte Pinakothek博物馆。Faulhaber在接受报纸采访时承认Segoe UI和Frutiger Next“非常相似”，但他并不想采取法律行动，相反，他为自己的设计思想能够得到承认并有机会广泛流传而感到非常“荣幸”。

                其实之前已经有人声称微软在剽窃。在微软用户体验小组成员Jensen Harris的blog中，一位名为Adam的回复者非常愤怒地指出：“Segoe UI看起来就是Frutiger的翻版。这分明就是Arial和Book Antiqua字体事件的重现。我说你们这些设计人员就不能来点儿原创性的东西？”

                微软方面拒绝对该报道发表任何评论。微软发言人称：“根据微软的政策，我们不对任何传言和猜测作出评论，因此没什么好说的。”
            </article>
            <footer>
                9 comments
            </footer>
        </div>
        
        <div id="disqus_thread"></div>
        <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//paulsnews.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
</div>
